.dt-buttons {
    margin-bottom: 10px;
}

.dt-buttons.btn-group {
    float: left;
    margin-right: 2%;
}

.dataTables_filter {
    float: left;
    margin-top: 4px;
    margin-right: 2%;
    text-align: left;
}

.dataTables_info {
    float: right;
}

.dataTables_length {
    float: right;
    margin-top: 4px;
    margin-left: 2%;
}

.b1 {
    float: right;
    background: #337ab7; /* фон кнопки */
}

a.navbar-brand-custom-selected {
    color: #337ab7 !important;
    font-weight: bold;
}

.navbar-brand-custom_1 {
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #777;
}

.navbar-brand-kastom_center {
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #777;
}

a.knopka {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #337ab7; /* фон кнопки */
    padding: 1.4em 1.4em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}
/* при наведении курсора мышки */
a.knopka:hover {
    background: #3683c6;
}
/* при нажатии */
a.knopka:active {
    background: #24567c;
}

.filter_block_1, .filter_block_2 {
    width: 100%;
    display: block;
    text-align: left;
}

.filter_group {
    width: calc(35% - 24px);
    display: inline-block;
}

.filter_select {
    vertical-align: top;
    width: calc(20% - 24px);
    display: inline-block;
}

.filter_select_button {
    margin: 35px 0 0 35px;
    vertical-align: top;
    width: calc(10% - 24px);
    display: inline-block;
}