<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">Авторизация</title>
    <style>
        body {
            max-width: 400px; /* ограничение максимальной ширины  */
            margin: 200px auto;

        }
    </style>
</head>
<body>
<div tiles:fragment="content">
    <form name="f" th:action="@{/login}" method="post">
        <fieldset>
            <br>
            <legend>Пожалуйста войдите</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Не правильный пароль
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                Вы успешно вышли.
            </div>
            <br>
            <label for="username">Имя&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <select id="username" name="username">
                <option value="0"> Выберите</option>
                <option th:each="User : ${allUsers}"
                        th:value="${User}"
                        th:utext="${User}">
                </option>
            </select>
            <br>
            <br>
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password"/>
            <br><br>
            <div class="form-actions">
                <button type="submit" class="btn">Вход</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>