<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${reportNameRu}"></title>
    <div th:insert="blocks/css_and_js :: all_css_and_js"/>
</head>
<body>
<script type="text/javascript" th:src="@{/js/report_util.js}" defer></script>

<script type="text/javascript" th:src="@{/js/report_skud_util.js}" defer></script>

<header th:insert="blocks/header :: main_header"/>

<input type="hidden" id="reportName" th:value="${reportName}"/>

<div class="container">

    <div th:switch="${reportName}">
        <header th:case="'report_skud_1'" th:include="blocks/filters :: filter_skud_1"/>
    </div>

    <table id="datatable" class="table table-bordered">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Вход</th>
            <th>Выход</th>
            <th>Фактическое время</th>
            <th>Рабочее время (Инфодент)</th>
            <th>Разница</th>
        </tr>
        </thead>
    </table>
</div>

<footer th:insert="blocks/footer :: footer"/>
</body>
</html>