<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${reportNameRu}"></title>
    <div th:insert="blocks/css_and_js :: all_css_and_js"/>
</head>
<body>
<!--<script type="text/javascript" th:src="@{/js/util.js}" defer></script>-->
<script type="text/javascript" th:src="@{/js/report_util.js}" defer></script>
<script type="text/javascript" th:src="@{/js/report_buh_2_util.js}" defer></script>

<header th:insert="blocks/header :: main_header"/>

<input type="hidden" id="reportName" th:value="${reportName}"/>

<div class="container">

    <div th:switch="${reportName}">
        <header th:case="'report_buh_1'" th:include="blocks/filters :: filter_buh_1"/>
    </div>

    <table id="datatable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>№</th>
            <th>ФИО Пациента</th>
            <th>Зарег-н</th>
            <th>Сумма</th>
            <th>Вх.ост</th>
            <th>Даты и суммы оплаты</th>
            <th>Расход</th>
            <th>Исх.ост</th>
        </tr>
        </thead>
    </table>
</div>

<footer th:insert="blocks/footer :: footer"/>
</body>
</html>