<div th:fragment="main_header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <a href="/" class="navbar-brand"> Портал отчетов</a>

            <a href="/report_1" th:class="${reportName=='report1' ? 'navbar-brand navbar-brand-custom-selected' : 'navbar-brand'}"> П.П. по дате обращения</a>
            <a href="/report_2" th:class="${reportName=='report2' ? 'navbar-brand navbar-brand-custom-selected' : 'navbar-brand'}"> П.П. по дате записи в расписание</a>

            <a href="/logout" class="navbar-brand-custom_1">Выход</a>
            <div class="navbar-brand-custom_1" sec:authorize="isAuthenticated()">
                <span sec:authentication="name"></span>
            </div>
        </div>
</div>